@model IEnumerable<ReadmoreWeb.Data.Models.Book>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Titel</th>
            <th>Auteur</th>
            <th>Prijs</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Price</td>
                <td>
                    <a asp-action="Details" asp-route-id="@book.Id" class="btn btn-sm btn-outline-secondary">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
